<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Linagora test 5</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
</head>

<body ng-app="LinagoraTest">
  <div ng-controller="attachmentsController">
    <!-- this accept attr could not restrict user from select other extensions though
      That's why when submit uploading or something we need to check the extension.
    -->
    <input type="file" file-input="onFileChanged" accept=".jpg, .png, .jpeg, .docx, .pdf, .mp3, .mp4" multiple/>
    <div id="file-preview" ng-repeat="file in filesInput">
      <p>{{file.name}}</p>
      <img ng-src="{{file.imgSrc}}" height="100" width="100" ng-if="file.imgSrc" />
      <audio ng-src="{{file.audioSrc}}" ng-if="file.audioSrc" controls></audio>
      <video ng-src="{{file.videoSrc}}" ng-if="file.videoSrc" controls></video>
      <button>
        <a ng-href="{{file.src}}" download>Download</a>
      </button>
    </div>
  </div>
  <script src="test5.js"></script>
</body>

</html>